body {
  font-family: 'Open Sans', Arial, sans-serif; 
  background-color: #f0f8ff; 
  color: #333; 
  margin: 0;
  padding: 0;
}



header {
  background-color: #003366; 
  color: white; 
  text-align: center; 
  padding: 20px 0; 
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}
