body.Country-klubben {
    background-image: url(../../img/background-country-club.png);
}

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    font-weight: 17px;
    font-family: sans-serif;
    flex: 1;
}

.container>div{
    flex: 100;
}

.subContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row-reverse;
}

.eventSidebar{
    flex: 1;
}

.mainContainer{
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.mainContainer>div{
    flex: 100%;
}

h4{
    padding: 10px;
    text-align: center;
}

.main2{
    min-height: 250px;
    background: green;
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
}

.content1, .content2, .content3{
    flex: 1;
    min-height: 200px;
    background: brown;
    border: 2px solid black;
}

.footer{
    flex: 100%;
    min-height: 50px;
    background: yellow
}

.sidebar, .main2, content>div{
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.eventMenu{
    text-align: center;
}

.event {
    border: 1px solid black;
    padding: 5px;
}