body{
        background-image: url(../../images/background-country-club.png);
        margin: 0;
    }

#countryContainer {
    display: block;

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        gap: 10px;
        font-weight: 17px;
        font-family: sans-serif;
        flex: 1;
    }

    

    .mainContainer{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;  
    }

    .mainContainer>div{
        flex: 100%;
    }

    h4{
        padding: 10px;
        text-align: center;
    }

    .main2{
        min-height: 250px;
        flex-direction: column;
    }

    .headMenu{  
        font-family: 'Georgia', serif; 
        font-size: 64px;
        font-weight: bold;
        text-align: center;
        color: #4b2e1e; 
        padding: 4px;
        text-transform: uppercase;
        letter-spacing: 4px;
        flex: 1;
        
    }

    .headText{
        font-family: 'Georgia', serif; 
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #090101; 
        padding: 4px;
        letter-spacing: 1px;
        flex: 1;
        margin-top: -60px;
    }

   .content{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .eventContent{
        flex: 1;
        flex-wrap: wrap;
        margin: 0px 20px;
        padding: 2px;
        display: flex;
        flex-grow: 1;
        gap: 20px;
    }

    .event {
        border: 4px solid black;
        border-radius: 20px;
        padding: 5px;
        gap: 20px;
        text-align: left;
        min-height: 320px;
        min-width: 400px;
        flex-wrap: wrap;
        background: #CC5500;
        
        img {
            border: 5px solid #333;
            border-radius: 10px;
        }
    }

    .eventImageDescriptionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .eventImageDescription {
        font-size: 18px;
    }

    .book-country-ticket-btn{
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        display: block;
        padding: 12px 24px;
        background-color: #9e7645;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        min-height: 25px;
        min-width: 75px;
    }
    
    .upcomingEvents{
        flex: 1;
        display: flex;
        min-height: 50px;
        font-family: 'Georgia', serif; 
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #4b2e1e; 
        padding: 4px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: -60px;
    }

    .sidebar, .main2, content>div{
        display: flex;
        justify-content: center;
        border-radius: 3px;
    }

    .eventMenu{
        text-align: center;
    }



    .contenth4{
        font-family: 'Georgia', serif; 
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #4b2e1e; 
        padding: 4px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    #backToMainBtn{
        padding: 12px 24px;
        background-color: #9e7645;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        min-height: 50px;
        min-width: 150px;
        z-index: -1;
    }
    #backToMainBtn:hover {
        background-color: #21867a;
        }
}