body {
    background-image: url(../../images/background-rock-club.jpg);
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: overlay;
    color: red;

    header {
        text-align: center;
    }

    a {
        color: rgb(255, 255, 255);
    }

    div {
        width: 80vw;
        padding: 35px 30px 45px;
        padding-bottom: 45px;
        background: rgb(0, 0, 0);
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: white;
        /*flex: 1;*/
        /*display: flex;*/

        h2 {
            text-align: center;
        }
    }
    .bar {
        /*background-color: rgb(57, 71, 71);*/
        padding: 0px;
        position: absolute; top: 5px; left: 5px;
        display: inline-block;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 10px);

            a {
                flex: 1;
                text-align: center;
                text-decoration: none;
                padding: 0.5rem 0;
                border-bottom: 2px solid currentColor;
                
                /*justify-content: space-between;
                flex-direction: row;
                flex-wrap: nowrap;
                border-right: solid 1px;*/
            }
                
        }
    }
}