body {
    background-image: url(../../img/background-rock-club.jpg);
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: overlay;
    color: red;

    header {
        text-align: center;
    }

    a {
        color: rgb(255, 255, 255);
    }

    div {
        width: 80vw;
        padding: 35px 30px 45px;
        padding-bottom: 45px;
        background: rgb(0, 0, 0);
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: white;
        /*flex: 1;*/
        display: flex;

        h2 {
            text-align: center;
        }
        nav {
            padding: 0px;
            position: absolute; top: 10px; left: 5px;
            a {
                justify-content: space-between;
                /*flex-direction: row;
                flex-wrap: nowrap;
                border-right: solid 1px;*/
            }
        }
    }
}